<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - StudentManagement</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header>
    <nav class="navbar navbar-dark bg-dark navbar-expand-xl navbar-custom" >
        <a class="navbar-brand" asp-controller="Home" asp-action="Index">Student Management</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="Index">
                        <i class="fa fa-fw fa-home"></i>Home <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="Students">
                        <i class="fa fa-fw fa-users"></i> Student List
                    </a>
                </li>
                <li>
                    <a class="nav-link" asp-controller="Home" asp-action="AddStudent">
                        <i class="fa fa-fw fa-plus"></i> Add Student
                    </a>
                </li>
            </ul>
    
            @* <ul class="navbar-nav ml-auto" style="margin-right: 100px"> *@
            @*     <li class="nav-item dropdown"> *@
            @*         <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> *@
            @*             <i class="fa fa-fw fa-user"></i> *@
            @*         </a> *@
            @* *@
            @*         <div class="dropdown-menu dropdown-content" aria-labelledby="navbarDropdown"> *@
            @*             <a class="dropdown-item" href=""> <i class="fa fa-fw fa-user-circle"></i> PROFILE</a> *@
            @*             <a class="dropdown-item" href=""><i class="fa fa-fw fa-edit"></i>UPDATE</a> *@
            @*         </div> *@
            @*     </li> *@
            @* </ul> *@
        </div>
    </nav>
    
        @* <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark border-bottom box-shadow mb-3"> *@
        @*     $1$ <div class="container"> #1# *@
        @*         <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">StudentManagement</a> *@
        @*         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent" *@
        @*                 aria-expanded="false" aria-label="Toggle navigation"> *@
        @*             <span class="navbar-toggler-icon"></span> *@
        @*         </button> *@
        @*         <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"> *@
        @*             <ul class="navbar-nav flex-grow-1"> *@
        @*                 <li class="nav-item"> *@
        @*                     <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Home</a> *@
        @*                 </li> *@
        @*                 <li class="nav-item"> *@
        @*                     <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> *@
        @*                 </li> *@
        @*                 <li class="nav-item"> *@
        @*                     <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Students">Students</a> *@
        @*                 </li> *@
        @*             </ul> *@
        @*         </div> *@
        @*     $1$ </div> #1# *@
        @* </nav> *@
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - StudentManagement - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
